<section class="section is-centered">
  <div class="container">
    <div class="columns is-mobile container is-centered">
      <%= render 'search_form' %>
      <%= render 'results' %>
    </div>
  </div>
</section>